.work-experience-wrapper {
  padding: 50px;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 16px;
  .main-title {
    font-size: 48px;
    font-weight: 500;
  }
  .workbox-section {
    background-color: rgba($color: #ffffff, $alpha: 0.1);
    border-radius: 16px;
    padding: 30px;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 16px;
    .my-position {
      font-size: 24px;
      font-weight: 500;
    }
  }
}
