.lissu-header-wrapper {
  height: 100px;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 24px;
  font-weight: 900;
  background-color: #222222;
  width: 100%;
  z-index: 9999;
  box-sizing: border-box;
  .lissu-logo {
    font-size: 40px;
    cursor: pointer;
    &:hover {
      color: #b8f57f;
    }
  }
}
